body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #d4bee4;
}
.doctor-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns, each taking 1/2 width */
    gap: 20px;
}
.doctor-card {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgba(110, 34, 145, 0.179);
    border-radius: 8px;
    transition: transform 0.2s, box-shadow 0.2s;
}
.doctor-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(120, 59, 146, 0.2);
}
.doctor-card h3 {
    margin: 0 0 10px 0;
    font-size: 1.3em;
    color: #3b1e54;
}
.doctor-card p {
    margin: 5px 0;
    color: #3b1e54;
    font-size:large;
}
@media (max-width: 600px) {
    .doctor-cards {
        grid-template-columns: 1fr; /* Single column on small screens */
    }
    .doctor-card h3 {
        font-size: 1.2em;
    }
}